<h1>网站管理</h1>

<table class="table table-hover">
  <tr>
    <th>名称</th>
    <th></th>
    <th></th>
    <th></th>
	<th></th>
  </tr>

<% @websites.each do |website| %>
  <tr>
    <td><%= website.name %></td>
    <td><%= link_to '显示', website %></td>
    <td><%= link_to '修改', edit_website_path(website) %></td>
    <td><%= link_to '删除', website, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<td><%= link_to '显示相关关键词', website_keywords_path(website) %>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新建网站', new_website_path %>
